.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}

.popup__container {
  position: relative;
  background-color: #fff;
  width: 430px;
  height: fit-content;
  border-radius: 16px;
  padding: 43px 36px 51px;
  margin: 203px 0 0;
}

.popup__close-btn {
  position: absolute;
  top: -46px;
  right: -46px;
  background-image: url(../../assets/close.png);
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: opacity 0.15s linear 0s;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

.popup__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
  width: 315px;
  margin: 0;
}

.popup__nav {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 14px 0 0;
  border: none;
  background: none;
  color: #2f71e5;
  cursor: pointer;
}

.popup__nav:hover {
  opacity: 0.8;
}

@media screen and (max-width: 644px) {
  .popup__container {
    padding: 16px;
  }

  .popup__close-btn {
    width: 24px;
    height: 24px;
    top: -35px;
    right: 16px;
    background-position: center;
    background-size: cover;
  }

  .popup__title {
    width: 280px;
  }
}
