.saved-news-header {
  max-width: 1440px;
  margin: 0 auto;
  color: #1a1b22;
}

.saved-news-header__container {
  padding: 0 0 0 104px;
}

.saved-news-header__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1a1b2280;
  opacity: 0.8;
  margin: 40px 0 0;
}

.saved-news-header__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  max-width: 530px;
  margin: 28px 0 0;
}

.saved-news-header__keywords-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0 56px;
}

.saved-news-header__keywords {
  font-weight: 700;
  margin: 0 0 0 5px;
}

@media screen and (max-width: 768px) {
  .saved-news-header {
    max-width: 768px;
  }

  .saved-news-header__container {
    padding: 0 0 0 40px;
  }

  .saved-news-header__subtitle {
    font-size: 14px;
    margin: 24px 0 0;
  }

  .saved-news-header__title {
    font-size: 30px;
    max-width: 336px;
    margin: 16px 0 0;
  }

  .saved-news-header__keywords-description {
    margin: 16px 0 32px;
  }

  @media screen and (max-width: 644px) {
    .saved-news-header {
      max-width: 320px;
    }

    .saved-news-header__container {
      padding: 0 0 0 16px;
    }

    .saved-news-header__subtitle {
      font-size: 12px;
      margin: 8px 0 0;
    }

    .saved-news-header__title {
      max-width: 288px;
    }

    .saved-news-header__keywords-description {
      margin: 50px 0 32px;
    }
  }
}
