.saved-news-header {
  max-width: 1440px;
  margin: 0 auto;
}

.saved-news-header__container {
  padding: 0 0 0 104px;
}

.saved-news-header__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #1a1b2280;
  opacity: 0.8;
  font-size: 18px;
}

.saved-news-header__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  max-width: 530px;
}
