.saved-news {
  background-color: hsl(210, 11%, 96%);
}

.saved-news__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1232px;
  padding: 0 10px;
}

.saved-news__articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  margin: 62px auto;
  max-width: 100%;
  grid-gap: 16px;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .saved-news__articles {
    grid-template-columns: repeat(auto-fit, 224px);
  }
}
