.about {
  display: flex;
  gap: 56px;
  padding: 80px 216px 80px 104px;
  background-color: #fff;
  justify-content: center;
}

.about__image {
  max-width: 464px;
  min-height: 464px;
  border-radius: 50%;
}

.about__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 51px 0 0;
}

.about__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 24px 0 0;
  max-width: 600px;
}
