.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1;
}

.nav-bar_light {
  border-bottom: 1px solid #c4c4c485;
}

.nav-bar_dark {
  border-bottom: 1px solid #1a1b22;
}

.nav-bar__logo-container {
  text-decoration: none;
}

.nav-bar__logo {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
}

.nav-bar__logo_light {
  color: #fff;
}

.nav-bar__logo_dark {
  color: #1a1b22;
}

.nav-bar__content {
  display: flex;
  list-style-type: none;
  gap: 42px;
  padding: 0;
  margin: 0;
}

.nav-bar__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  margin: 30px 0 0;
  color: #fff;
  padding: 0 0 24px;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s linear 0s;
  border-bottom: 3px solid;
}

.nav-bar__btn_light {
  color: #fff;
  border-color: #fff;
}

.nav-bar__btn_dark {
  color: #1a1b22;
  border-color: #1a1b22;
}

.nav-bar__btn:hover {
  opacity: 0.8;
}

.nav-bar__sign {
  margin: 19px 0 0;
}

.nav-bar__signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 176px;
  height: 48px;
  padding: 0;
  background: none;
  border-radius: 35px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.15s linear 0s;
}

.nav-bar__signin-btn_light {
  color: #fff;
  border: 1px solid #fff;
}

.nav-bar__signin-btn_dark {
  color: #1a1b22;
  border: 1px solid #1a1b22;
}

.nav-bar__signin-btn:hover {
  opacity: 0.8;
}

.nav-bar__signout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 19px;
  background: none;
  border-radius: 35px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.15s linear 0s;
}

.nav-bar__signout-btn_light {
  color: #fff;
  border: 1px solid #fff;
}

.nav-bar__signout-btn_dark {
  color: #1a1b22;
  border: 1px solid #1a1b22;
}

.nav-bar__signout-btn:hover {
  opacity: 0.8;
}

.nav-bar__signout-img {
  margin: 0 0 0 15px;
}

.nav-bar__menu-btn {
  position: absolute;
  display: none;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s linear 0s;
  top: 14px;
  right: 14px;
  z-index: 1;
}

.nav-bar__menu-btn_light {
  background: transparent url(../../assets/menu.png);
}

.nav-bar__menu-btn_dark {
  background: transparent url(../../assets/menu_dark.png);
}

.nav-bar__menu-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    padding: 0 40px 0;
  }

  .nav-bar__content {
    gap: 16px;
  }

  .nav-bar__btn {
    font-size: 16px;
  }

  .nav-bar__signin-btn {
    width: 152px;
    font-size: 16px;
  }

  .nav-bar__signout-btn {
    padding: 0 13px 0 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .nav-bar {
    padding: 16px;
  }

  .nav-bar__logo {
    font-size: 16px;
  }

  .nav-bar__btn {
    display: none;
  }

  .nav-bar__signin-btn {
    display: none;
  }

  .nav-bar__signout-btn {
    display: none;
  }

  .nav-bar__menu-btn {
    display: block;
  }
}
