.search-form {
  max-width: 608px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.search-form__search-bar {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  min-height: 64px;
  border: none;
  border-radius: 35px;
  padding: 0 208px 0 21px;
  outline: none;
  text-transform: capitalize;
}

.search-form__search-bar::placeholder {
  color: #b6bcbf;
}

.search-form__search-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: absolute;
  right: 0;
  width: 168px;
  min-height: 64px;
  border: none;
  border-radius: 35px;
  background-color: #2f71e5;
  color: #fff;
  padding: 0;
  transition: background-color 0.15s linear 0s;
  cursor: pointer;
}

.search-form__search-btn:hover {
  background-color: #347eff;
}

.search-form__search-btn:focus {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .search-form {
    max-width: 452px;
  }

  .search-form__search-bar {
    min-height: 56px;
    padding: 0 196px 0 24px;
  }
  .search-form__search-btn {
    width: 160px;
    min-height: 56px;
  }
}

@media screen and (max-width: 320px) {
  .search-form {
    flex-direction: column;
    align-items: center;
    max-width: 272px;
    margin: 0 16px;
  }

  .search-form__search-bar {
    padding: 0 0 0 16px;
  }

  .search-form__search-btn {
    position: static;
    width: 288px;
    margin: 16px 0 0;
  }
}
