.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 104px;
  margin: 0 auto;
}

.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #b6bcbf;
  margin: 0;
}

.footer__info-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer__info {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: opacity 0.15s linear 0s;
}

.footer__info:hover {
  opacity: 0.8;
}

.footer__home-btn {
  border: none;
  background: none;
  font-size: 18px;
  margin: 0 40px 0 0;
  padding: 0;
  cursor: pointer;
}

.footer__tripleten-btn {
  border: none;
  background: none;
  font-size: 18px;
  margin: 0 40px 0 0;
  padding: 0;
  cursor: pointer;
}

.footer__github {
  max-width: 24px;
  min-height: 24px;
  margin: 0 24px 0 0;
  cursor: pointer;
}

.footer__facebook {
  max-width: 20px;
  min-height: 20px;
  cursor: pointer;
}
