.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 104px;
  margin: 0 auto;
}

.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #b6bcbf;
  margin: 0;
}

.footer__info-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.footer__links {
  display: flex;
  gap: 40px;
}

.footer__link {
  text-decoration: none;
  color: #1a1b22;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 40px;
    min-height: 64px;
  }
}

@media screen and (max-width: 644px) {
  .footer {
    flex-direction: column-reverse;
    padding: 0 16px;
    align-items: start;
  }

  .footer__copyright {
    margin: 0 0 22px;
    font-size: 15px;
  }

  .footer__info-list {
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 38px;
    align-items: start;
  }

  .footer__links {
    flex-direction: column;
  }
}
