.news-card-list {
  display: flex;
  background-color: #f5f6f7;
}

.news-card-list__container {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  padding: 0 10px;
  width: 1232px;
}

.news-card-list__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 64px;
  z-index: 1;
}

.news-card-list__articles {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.news-card-list__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 288px;
  min-height: 64px;
  border-radius: 35px;
  margin: 64px auto 0;
  font-size: 18px;
  background-color: #fff;
  border: none;
  padding: 0;
  transition: background-color 0.15s linear 0s;
  cursor: pointer;
}

.news-card-list__button:hover {
  background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
  .news-card-list {
    padding: 0 10px;
  }

  .news-card-list__container {
    margin: 40px 0;
    width: 768px;
  }

  .news-card-list__title {
    font-size: 30px;
    margin: 0 0 32px;
  }

  .news-card-list__articles {
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, 224px);
  }

  .news-card-list__button {
    width: 240px;
    min-height: 56px;
    margin: 32px auto 0;
  }
}
