.news-card-list {
  display: flex;
  flex-direction: column;
  padding: 0 95px;
  background-color: #f5f6f7;
}

.news-card-list__articles {
  position: relative;
  display: grid;
  max-width: 100%;
  grid-gap: 16px;
  margin: 190px auto 0;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  padding: 0;
}

.news-card-list__title {
  position: absolute;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 0;
  top: -110px;
  left: 0;
  z-index: 1;
}

.news-card-list__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 288px;
  min-height: 64px;
  border-radius: 35px;
  margin: 64px auto 80px;
  font-size: 18px;
  background-color: #fff;
  border: none;
  padding: 0;
  transition: background-color 0.15s linear 0s;
  cursor: pointer;
}

.news-card-list__button:hover {
  background-color: #e8e8e8;
}
