.news-card {
  position: relative;
  width: 400px;
  height: 576px;
  background-color: #fff;
  border-radius: 15px;
}

.news-card__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.news-card__image {
  max-width: 100%;
  min-height: 272px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.news-card__information {
  display: flex;
  flex-direction: column;
  height: 280px;
  padding: 0 24px 24px;
}

.news-card__publication {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 20px 0 0;
  font-size: 18px;
  color: #b6bcbf;
}

.news-card__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 26px;
  max-width: 352px;
  margin: 12px 0 16px;
}

.news-card__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 22px;
  width: 352px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__source {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  color: #b6bcbf;
  margin: auto 0 0;
}

.news-card__save-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.news-card__save-btn_normal {
  background-image: url(../../assets/mark-normal.svg);
}

.news-card__save-btn_normal:hover {
  background-image: url(../../assets/mark-hover.svg);
}

.news-card__save-btn_filled {
  background-image: url(../../assets/mark-filled.svg);
}

.news-card__save-notification {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: absolute;
  top: 24px;
  right: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 182px;
  height: 40px;
  visibility: hidden;
  margin: 0;
  font-size: 12px;
}

.news-card__save-btn_normal:hover + .news-card__save-notification {
  visibility: visible;
}

.news-card__delete-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-image: url(../../assets/unhovered-trash.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.news-card__delete-btn:hover {
  background-image: url(../../assets/hovered-trash.png);
}

.news-card__delete-notification {
  position: absolute;
  top: 24px;
  right: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 8px;
  margin: 0;
  width: 159px;
  height: 40px;
  background-color: #fff;
  visibility: hidden;
}

.news-card__delete-btn:hover + .news-card__delete-notification {
  visibility: visible;
}

.news-card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 8px 22px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
